@use "../abstracts/variables" as var;
body {
    font-family: var.$police-principale;
}

h1{
    color: var.$couleur-secondaire;
    font-size: 3rem;
    padding-top: 10%;
}

h2, h3, h4 {
    color: var.$couleur-principale;
}

p {
    font-size: 1rem;
    color: var.$couleur-principale;
    line-height: 2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    color: gold;
    }
