@use "../abstracts/variables" as var;
body{
    font-family: var.$police-principale;
}
h1, h2, h3, h4{
    color: var.$couleur-principale;
}

p {
    font-size: 1rem;
    color: var.$couleur-principale;
}

li{
    list-style: none;
}

a {
    text-decoration: none;

}

img{
    
}