header {
  background-color: rgb(7, 56, 82);
  padding-top: 20px;
  padding-bottom: 20px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .menu-burger {
  display: none;
}
header .navbar ul {
  display: flex;
}
header .navbar ul li {
  border-right: 1px solid white;
  padding-right: 15px;
  padding-left: 15px;
}
header .navbar ul li a {
  color: white;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: white;
  font-size: 3rem;
  padding-top: 10%;
}

h2, h3, h4 {
  color: rgb(7, 56, 82);
}

p {
  font-size: 1rem;
  color: rgb(7, 56, 82);
  line-height: 2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: gold;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

#banner {
  background-image: url(../img/PHOTO-BUREAU.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.about {
  text-align: center;
}
.about h3 {
  text-transform: uppercase;
  font-weight: 500;
}
.about strong {
  font-weight: 800;
}

#rdv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
#rdv .rdv-container {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
#rdv .rdv-container .rdv-content {
  text-align: center;
  width: 40%;
}

.realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realisations h2 {
  margin-bottom: 0;
}
.realisations h3 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1rem;
}
.realisations .realisations-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}
.realisations .realisations-container .realisation-content {
  width: 30%;
  text-align: center;
}
.realisations .realisations-container .realisation-content img {
  width: 100%;
}
.realisations .realisations-container .realisation-content h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.realisations .realisations-container .realisation-content p {
  font-size: 0.9rem;
}

.projet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.projet h2 {
  margin-bottom: 5px;
}
.projet h3 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1rem;
}
.projet .projet-container {
  display: flex;
  gap: 30px;
  width: 100%;
}
.projet .projet-container .projet-content {
  text-align: center;
  width: 40%;
}
.projet .projet-container .projet-content a {
  color: rgb(7, 56, 82);
}
.projet .projet-container .projet-content a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(7, 56, 82);
  padding-bottom: 5px;
  padding-top: 20px;
}
footer .copy p {
  color: white;
  text-align: center;
}
footer h4 {
  color: white;
}
footer .footer-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .footer-container .footer-content {
  width: 40%;
  text-align: start;
}
footer .footer-container .footer-content p {
  color: white;
}
footer .footer-container .footer-content .footer-logo {
  width: 100%;
}
footer .footer-container .footer-content .footer-icon {
  padding-left: 20px;
}
footer .footer-container .footer-content .footer-icon img {
  width: 10%;
}
footer .footer-container .metiers {
  width: 90%;
}
footer .footer-container .metiers p {
  padding: 5px;
  letter-spacing: 0.2rem;
  font-weight: 100;
}
footer .footer-container .contact {
  border-left: 1px solid white;
  padding-left: 10px;
}
footer .footer-container .contact h4 {
  margin-top: 10px;
}
footer .footer-container .contact p {
  margin: 5px;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato/Lato-Regular.ttf);
  font-family: "Lato Light";
  src: url(../../fonts/Lato/Lato-Light.ttf);
}
.rdv-btn a {
  padding: 10px 20px;
  background-color: rgb(7, 56, 82);
  color: white;
  border-radius: 5px;
}
.rdv-btn a:hover {
  box-shadow: 3px 3px 3px 5px rgb(200, 185, 100);
  transition: all 0.3s ease;
}

.realisations-btn a {
  padding: 10px 20px;
  background-color: rgb(7, 56, 82);
  color: white;
  border-radius: 5px;
}
.realisations-btn a:hover {
  box-shadow: 3px 3px 3px 5px rgb(200, 185, 100);
  transition: all 0.3s ease;
}

/* responsive tablette */
@media screen and (max-width: 768px) {
  header .navbar ul {
    display: none;
  }
  header .navbar .menu-burger {
    display: flex;
    justify-content: flex-end;
  }
  header .navbar .menu-burger img {
    width: 20%;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
  }
  .realisations .realisations-container .realisation-content {
    width: 45%;
  }
  footer .footer-container {
    align-items: start;
  }
}
/* responsive mobile */
@media screen and (max-width: 576px) {
  header .navbar .header-logo img {
    width: 100%;
  }
  h1 {
    text-align: center;
    padding-top: 50%;
  }
  #rdv .rdv-container {
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
  }
  #rdv .rdv-container .rdv-content {
    width: 100%;
  }
  .realisations {
    text-align: center;
    margin-top: 15%;
  }
  .realisations .realisations-container {
    flex-direction: column;
  }
  .realisations .realisations-container .realisation-content {
    width: 100%;
  }
  .projet {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .projet .projet-container {
    flex-direction: column;
  }
  .projet .projet-container .projet-content {
    width: 100%;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container .footer-content {
    width: 100%;
  }
  footer .footer-container .metiers {
    text-align: center;
  }
  footer .footer-container .contact {
    border: none;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
